.#{$provider-prefix}-panel {
  width: 100%;
  border: 1px solid $color-border;

  &-header {

    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
    border-bottom: 1px solid $color-border;
    .dui-panel-title {
      font-weight: bold;
    }
    .dui-panel-actions {
      margin-left: auto;
      color: $color-dark;
    }
  }
  &-body {
    padding: 5px 10px;
  }
}
