@import "./Badge.mixin.scss";
.cb-badge {
  padding: 1px 7px;
  border: 1px solid;
  font-weight: $font-weight-regular;
  font-size: 12px;
  line-height: 20px;
  white-space: normal;
  display: inline-block;
  border-radius: 4px;
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  margin-right: 8px;

  color: $color-dark;
  background-color: $color-disabled;
  border-color: transparent;

  box-sizing: border-box;
  @each $color, $value in $theme-colors {
    @include badge-variant("-#{$color}", $value);
  }
  @each $color, $value in $theme-colors {
    @include badge-neon-variant("-neon-#{$color}", $value);
  }
}
