@import "./Badge.mixin.scss";

.#{$provider-prefix}-badge-wrapper {
  @extend %badge-base;
  .#{$provider-prefix}-badge-dismissible {
    align-items: center;
    border-radius: $badge-dismiss-border-radius;
    display: flex;
    padding: $badge-dismiss-padding;
    font-size: $badge-font-size;
    &:hover {
      background-color: $badge-dismiss-hover-background;
      @extend %background-ease;
      cursor: pointer;
    }
  }
  .#{$provider-prefix}-badge {
    overflow: hidden;
    margin: 0;
    border: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.#{$provider-prefix}-badge {
  @extend %badge-base;
  padding: $badge-padding;
  font-weight: $badge-font-weight;
  border-radius: $badge-border-radius;
  color: $color-dark;
  font-size: $badge-font-size;
  line-height: 18px;
  @each $color, $value in $theme-colors {
    @include badge-variant("-#{$color}", $value);
  }
  &-icon {
    align-self: center;
    margin-right: 5px;
    font-size: $badge-font-size;
  }
}
