@mixin button-variant($parent, $background) {
  &#{$parent} {
    color: colorFromBackground($background);
    background-color: $background;
    &:hover:not(.disabled):not(.#{$provider-prefix}-button-loading) {
      background-color: darken($background, 10%);
    }
  }
}
@mixin button-link-variant($parent, $color) {
  &#{$parent} {
    color: $color;
    &:hover:not(.disabled):not(.#{$provider-prefix}-button-loading) {
      color: darken($color, 10%);
    }
  }
}

@mixin button-outlined($parent, $color) {
  &#{$parent} {
    color: $color;
    background-color: $color-light;
    border-color: $color;
    &:hover:not(.disabled):not(.#{$provider-prefix}-button-loading) {
      color: $color-light;
      background-color: $color;
      border-color: $color;
    }
  }
}
