@import "./Button.mixin.scss";
%outlined {
  background-color: $button-outlined-background;
}
.#{$provider-prefix}-button {
  font-size: $button-font-size;
  text-align: center;
  text-transform: capitalize;
  border-radius: $button-border-radius;
  padding: $button-padding;
  box-shadow: $box-shadow;
  color: $button-default-color;
  border: 2px solid;
  font-weight: $font-weight-regular;
  margin: 2px;
  background-color: $button-default-background;
  border-color: $button-default-border-color;
  display: inline-flex;
  align-items: center;
  &.disabled {
    background-color: $button-disabled-background;
    border-color: transparent;
    color: $button-disabled-color;
  }
  &:hover:not(.disabled):not(.#{$provider-prefix}-button-loading):not(.#{$provider-prefix}-button-link) {
    cursor: pointer;
    background-color: $button-default-hover-background;
    border-color: $button-default-hover-border-color;
    transition: background-color 0.5s ease, border-color 0.5s ease;
  }

  &-block {
    border-radius: 0;
    display: block;
    width: 100%;
  }
  &-link{
    background-color: transparent;
    box-shadow: none;
    border: none;
    outline:none;
    color: blue;
    text-decoration: none;

    &:hover{
      text-decoration: underline;
    }
  }
  &-outlined {
    @each $color, $value in $theme-colors {
      @include button-outlined("-#{$color}", $value);
    }
  }
  @each $color, $value in $theme-colors {
    @include button-variant("-#{$color}", $value);
  }

  &-dashed {
    border: 2px dashed;
    &:hover:not(.disabled) {
      border: 2px solid;
    }
  }
  &-loading {
    background-color: $button-loading-background;
    border-color: $button-loading-border-color;
    color: $button-loading-color;
  }
  &-icon-only {
    padding: 5px;
  }
  &-large {
    padding: $button-large-padding;
    font-size: $button-large-font-size;
  }
  &-small:not(.#{$provider-prefix}-button-icon-only) {
    font-size: $button-small-font-size;
    padding: $button-small-padding;
  }
  &-group {
    box-shadow: $box-shadow;
    display: flex;
    flex-direction: row;
    margin: 2px;
    .#{$provider-prefix}-button {
      margin: 0;
      border-radius: 0;
      box-shadow: none;
    }
    &-vertical {
      flex-direction: column;
    }
  }
}
