.#{$provider-prefix}-list-container {
  background-color: $list-background;
  border: $list-border-width solid $list-border-color;
  .#{$provider-prefix}-list-title {
    font-weight: $list-title-font-weight;
    color: $list-title-color;
    padding: $list-title-padding;
    text-transform: uppercase;
    font-size: $list-title-font-size;
    border-bottom: $list-title-border-width solid $list-title-border-color;
  }
  .#{$provider-prefix}-list {
    list-style: none;
    &-item {
      padding: $list-item-padding;
      display: flex;
      flex-direction: row;
      align-items: center;
      &-icon {
        display: flex;
        align-self: center;
        justify-content: center;
        width: $list-item-icon-width;
        i,
        img {
          max-height: $list-item-icon-max-height;
        }
        &-right {
          order: 1;
        }
      }
      &-content {
        padding: $list-item-content-padding;
        width: 100%;
        .#{$provider-prefix}-list-item-title,
        &-title {
          font-size: $list-item-content-title-font-size;
        }
        &-subtitle {
          margin-top: $list-item-content-subtitle-margin-top;
          font-size: $list-item-content-subtitle-font-size;
          color: $list-item-content-subtitle-color;
        }
      }
    }
    &-bordered {
      .#{$provider-prefix}-list-item {
        border-bottom: $list-item-bordered-border-width solid
          $list-item-bordered-border-color;
      }
    }
    .#{$provider-prefix}-list-more {
      color: $list-item-action-color;
      font-size: $list-item-action-font-size;
      align-self: center;
      &:hover {
        color: $list-item-action-hover-color;
        cursor: pointer;
      }
    }
    .#{$provider-prefix}-list-center {
      justify-content: center;
    }
  }
}
