.#{$provider-prefix}-tab-control {
  background-color: $tab-control-background;
  border: $tab-control-border-radius solid $tab-control-border-color;
  border-radius: $tab-control-border-radius;
  width: 100%;
  &-nav {
    width: 100%;
    display: inline-flex;

    li:first-child {
      border-top-left-radius: $tab-control-border-radius;
    }
    li:last-child {
      border-top-right-radius: $tab-control-border-radius;
    }

    &-item {
      width: 100%;
      padding: $tab-control-item-padding;
      border: $tab-control-border-radius solid $tab-control-border-color;
      white-space: nowrap;
      transition: background-color 0.3s ease, color 0.3s ease;
      &:not(:first-child) {
        border: $tab-control-border-radius solid $tab-control-border-color;
      }
      color: $tab-control-item-color;
      font-size: $tab-control-item-font-size;
      &.active {
        background-color: $tab-control-item-active-background;
        border-bottom: none;
        color: $tab-control-item-active-color;
      }
      &-disabled {
        cursor: not-allowed;
        background-color: $tab-control-item-disabled-background;
        color: $tab-control-item-disabled-color;
      }
      &:hover:not(.#{$provider-prefix}-tab-control-nav-item-disabled) {
        cursor: pointer;
      }
      .#{$provider-prefix}-icon {
        margin-right: 10px;
      }
    }
  }
  &-pane {
    padding: $tab-control-pane-padding;
  }
}
