.#{$provider-prefix}-tab-control {
  width: 100%;
  background-color: $tab-control-background;
  border: $tab-control-border-radius solid $tab-control-border-color;
  border-radius: $tab-control-border-radius;
  &-nav {
    display: inline-flex;
    width: 100%;

    li:first-child {
      border-top-left-radius: $tab-control-border-radius;
    }
    li:last-child {
      border-top-right-radius: $tab-control-border-radius;
    }

    &-item {
      display: flex;
      align-items: center;
      width: 100%;
      padding: $tab-control-item-padding;
      font-size: $tab-control-item-font-size;
      color: $tab-control-item-color;
      white-space: nowrap;
      border-bottom: $tab-control-border-radius solid $tab-control-border-color;
      transition: background-color 0.3s ease, color 0.3s ease;
      &:not(:first-child) {
        border-left: $tab-control-border-radius solid $tab-control-border-color;
      }
      &.active {
        color: $tab-control-item-active-color;
        background-color: $tab-control-item-active-background;
        border-bottom: none;
      }
      &-disabled {
        color: $tab-control-item-disabled-color;
        cursor: not-allowed;
        background-color: $tab-control-item-disabled-background;
      }
      &:hover:not(.#{$provider-prefix}-tab-control-nav-item-disabled) {
        cursor: pointer;
      }
      .#{$provider-prefix}-icon {
        margin-right: 10px;
      }
    }
  }
  &-pane {
    padding: $tab-control-pane-padding;
  }
}
