$color-success: #5cb85c;
$color-danger: #ff4444;
$color-danger-dark: darken($color-danger, 10%);
$color-warning: #ffbb33;
$color-light: #ffffff;

$color-disabled: #edebe9;

$color-primary: $color-light;
$color-gray: #dee5ed;
$color-gray-light: #e3e3e3;
$color-dark: #333333;
$color-blue: #009cff;
$color-blue-light: #dbe8fe;
$color-magenta: #d90378;
$color-secondary: #6264a7;

$color-border: #e1dfdd;
$color-text-gray: #333;
$color-placeholder: #9999a5;

$color-badge-primary: #e6e6e6;

$color-text-secondary: #797878;

@mixin text-color($parent, $color) {
  &#{$parent} {
    color: $color;
  }
}
