%background-ease {
  transition: background-color 0.3s ease;
}
%badge-base {
  display: inline-flex;
  min-width: 20px;
  max-width: 100%;
  min-height: 20px;
  margin: $badge-margin;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: $badge-default-background;
  border-radius: $badge-border-radius;
}
%input-base {
  display: block;
  height: $input-height-normal;
  padding: $input-padding-normal;
  margin: 1px;
  font-size: $input-font-size-normal;
  line-height: 1.5;
  color: $color-text-gray;
  background-color: $color-light;
  background-clip: padding-box;
  border: 1px solid $color-border;
  border-radius: $border-raidus;
  transition: border-color 0.15s ease-in-out;
}
