// THEMEING
$theme-colors: () !default;

$theme-colors: map-merge(("primary": $color-primary,
    "secondary": $color-secondary,
    "dark": $color-dark,
    "light": $color-light,
    "success": $color-success,
    "danger": $color-danger,
    "magenta": $color-magenta,
    "warning": $color-warning,
    "blue": $color-blue),
  $theme-colors);
$brand-colors: () !default;

$brand-colors: map-merge(("discord": #7289da,
    "youtube": #ff0000,
    "twitter": #1da1f2,
    "twitch": #6441a5,
    "github": #333,
    "instagram": #e1306c,
    "steam": #000000,
    "paypal": #003087,
    "spotify": #1db954,
    "reddit": #ff4500,
    "snapchat": #fffc00,
    "bitbucket": #205081,
    "dropbox": #007ee5),
  $brand-colors);

$font-family: "Nunito",
sans-serif !default;
$shadow-focus: inset 0 0 2px rgba($color-dark, 0.14),
inset 0 0 0 1px $color-blue,
0 0 0 3px rgba($color-blue, 0.14) !default;
// FONT
$font-weight-light: 300 !default;
$font-weight-regular: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-black: 900 !default;

$font-size-small: 14px !default;
$font-size-normal: 16px !default;
$font-size-large: 18px !default;

// GENERIC
$border-raidus: 4px !default;
$box-shadow: hsla(0, 0%, 0%, 0.2) 0rem 0.0625rem 0.125rem 0rem !default;

// INPUT
$input-height-small: 24px !default;
$input-height-normal: 32px !default;
$input-height-large: 40px !default;

$input-padding-small: 1px 7px !default;
$input-padding-normal: 4px 11px !default;
$input-padding-large: 6px 11px !default;

$input-font-size-small: $font-size-normal !default;
$input-font-size-normal: $font-size-normal !default;
$input-font-size-large: $font-size-large !default;

/* SIDEBAR */
// Color of text in the sidebar
$sidebar-color: $color-text-gray !default;
// Background color of the sidebar
$sidebar-background: $color-light !default;
// Background when a sidebar item is hovered
$sidebar-item-hover-background: $color-blue-light !default;
// Color of the sidebar headers
$sidebar-item-header-color: $color-secondary !default;
$sidebar-item-hover-color: $color-dark !default;
// Background color of a submenu
$sidebar-submenu-background: #e3e3e3 !default;
// Color of the icons in the sidebar menu
//$sidebar-icon-color: $color-light-1 !default;
// Background color of active item in sidebar menu
$sidebar-item-active-background: $color-blue !default;
$sidebar-item-active-color: inherit !default;
// Width of the sidebar in expanded mode
$sidebar-full-width: 250px !default;
// Width of the sidebar in compact mode with labels visible
$sidebar-compact-label-width: 80px !default;
// Width of the sidebar in compact mode with labels hidden
$sidebar-compact-width: 62px !default;

/* BADGE */
$badge-border-radius: 2px !default;
$badge-margin: 2px !default;
$badge-default-background: $color-badge-primary !default;
$badge-padding-y: 2px !default;
$badge-padding-x: 6px !default;
$badge-padding: $badge-padding-y $badge-padding-x !default;
$badge-font-weight: $font-weight-regular !default;
$badge-font-size: $font-size-small !default;
$badge-dismiss-border-radius: 2px !default;
$badge-dismiss-padding-y: 0px !default;
$badge-dismiss-padding-x: 4px !default;
$badge-dismiss-padding: $badge-dismiss-padding-y $badge-dismiss-padding-x !default;
$badge-dismiss-hover-background: lighten($color-danger, 30%) !default;

/* BUTTON */
$button-outlined-background: $color-light !default;
$button-border-radius: $border-raidus !default;

$button-font-size: $font-size-normal !default;
$button-large-font-size: $font-size-large !default;
$button-small-font-size: $font-size-small !default;

$button-padding-y: 4px !default;
$button-padding-x: 16px !default;
$button-padding: $button-padding-y $button-padding-x !default;

$button-large-padding-y: 8px !default;
$button-large-padding-x: 32px !default;
$button-large-padding: $button-large-padding-y $button-large-padding-x !default;

$button-small-padding-y: 2px !default;
$button-small-padding-x: 10px !default;
$button-small-padding: $button-small-padding-y $button-small-padding-x !default;

$button-default-color: $color-light !default;
$button-default-background: $color-primary !default;
$button-default-border-color: $color-primary !default;
$button-default-hover-background: darken($color-primary, 10%) !default;
$button-default-hover-border-color: darken($color-primary, 10%) !default;

$button-disabled-background: $color-disabled !default;
$button-disabled-color: $color-light !default;

$button-loading-background: darken($color-disabled, 10%) !default;
$button-loading-border-color: transparent !default;
$button-loading-color: $color-light !default;

$card-background: $color-light !default;
$card-color: #000 !default;
$card-border-radius: 2px !default;
$card-border-width: 1px !default;
$card-border-color: #e9e9e9;
$card-box-shadow: $box-shadow !default;
$card-body-padding: 15px !default;
$card-font-size: $font-size-small !default;
$card-body-font-weight: $font-weight-regular !default;
$card-image-height: 150px !default;
$card-header-height: 35px !default;
$card-title-font-size: $font-size-normal !default;
$card-title-font-weight: $font-weight-bold !default;
$card-title-padding-x: 16px !default;
$card-title-padding-y: 8px !default;
$card-title-padding: $card-title-padding-y $card-title-padding-y !default;
$card-title-color: $color-dark !default;
$card-footer-padding-x: 16px !default;
$card-footer-padding-y: 4px !default;
$card-footer-padding: $card-footer-padding-y $card-footer-padding-y !default;
$card-footer-color: $color-dark !default;
$card-footer-height: 35px !default;

/* AVATAR */
$avatar-small-size: 30px !default;
$avatar-normal-size: 50px !default;
$avatar-large-size: 75px !default;
$avatar-rounded-radius: 10px !default;
$avatar-circle-radius: 50% !default;

/* TABLE */
$table-border-width: 1px !default;
$table-border-color: $color-border !default;
$table-background: $color-light !default;
$table-color: $color-text-gray !default;
$table-striped-background: $color-badge-primary !default;
$table-striped-color: inherit !default;
$table-hover-background: $color-disabled !default;
$table-hover-color: inherit !default;

$table-cp-button-border-width: 1px !default;
$table-cp-button-border-color: $color-border !default;
$table-cp-checkbox-color: $color-dark !default;
$table-cp-content-border-width: 1px !default;
$table-cp-content-border-color: $color-gray !default;
$table-cp-content-background: $color-light !default;
$table-cp-header-border-width: 1px !default;
$table-cp-header-border-color: $color-gray !default;
$table-cp-header-padding-x: 10px !default;
$table-cp-header-padding-y: 5px !default;
$table-cp-header-padding: $table-cp-header-padding-y $table-cp-header-padding-x !default;
$table-cp-header-font-size: $font-size-small !default;
$table-cp-header-font-weight: $font-weight-bold !default;
$table-cp-header-color: $color-text-gray !default;

$table-header-background: $color-light !default;
$table-header-color: $color-text-gray !default;
$table-header-padding-x: 10px !default;
$table-header-padding-y: 5px !default;
$table-header-padding: $table-header-padding-y $table-header-padding-x !default;

$table-pg-font-size: $font-size-small !default;
$table-pg-font-weight: $font-weight-bold !default;
$table-pg-button-border-width: 1px !default;
$table-pg-button-border-color: $color-border !default;

$table-row-checked-background: darken($color-blue-light, 10%) !default;
$table-row-checked-color: inherit !default;
$table-row-header-height: 40px !default;
$table-row-header-font-size: $font-size-small !default;
$table-row-header-font-weight: $font-weight-bold !default;
$table-row-header-color: $color-dark !default;

$table-cell-padding-x: 8px !default;
$table-cell-padding-y: 8px !default;
$table-cell-padding: $table-cell-padding-y $table-cell-padding-x !default;

/* CHECKBOX */
$checkbox-padding-left: 25px !default;
$checkbox-no-label-padding-left: 16px !default;
$checkbox-margin-x: 3px !default;
$checkbox-margin-y: 3px !default;
$checkbox-margin: $checkbox-margin-y $checkbox-margin-x !default;
$checkbox-font-size: $font-size-normal !default;
$checkbox-checkmark-height: 15px !default;
$checkbox-checkmark-width: 15px !default;
$checkbox-checkmark-border-radius: 2px !default;
$checkbox-checkmark-background: $color-disabled !default;
$checkbox-checkmark-hover-background: darken($color-disabled, 20%) !default;
$checkbox-checked-background: $color-disabled !default;
$checkbox-checked-checkmark-background: $color-dark !default;
$checkbox-disabled-background: $color-disabled !default;
$checkbox-disabled-color: darken($color-disabled, 40%) !default;
$checkbox-mark-color: $color-dark !default;

/* CHECKBOX LIST */

$checkbox-list-border-width: 1px !default;
$checkbox-list-border-color: $color-gray !default;
$checkbox-list-background: $color-light !default;
$checkbox-list-header-padding-x: 5px !default;
$checkbox-list-header-padding-y: 5px !default;
$checkbox-list-header-padding: $checkbox-list-header-padding-y $checkbox-list-header-padding-x !default;
$checkbox-list-header-font-size: $font-size-small !default;
$checkbox-list-header-counter-font-size: 10px !default;

$checkbox-list-items-padding-x: 5px !default;
$checkbox-list-items-padding-y: 5px !default;
$checkbox-list-items-padding: $checkbox-list-items-padding-y $checkbox-list-items-padding-x !default;
$checkbox-list-item-padding-x: 0 !default;
$checkbox-list-item-padding-y: 1px !default;
$checkbox-list-item-padding: $checkbox-list-item-padding-y $checkbox-list-item-padding-x !default;
$checkbox-list-checkbox-color: lighten($color-dark, 50%) !default;

/* SELECT */
$select-color: $color-text-gray !default;
$select-border-radius: $border-raidus !default;
$select-font-size: $font-size-normal !default;
$select-height: 32px !default;
$select-background: $color-light !default;
$select-border-width: 1px !default;
$select-border-color: $color-border !default;
$select-min-width: 50px !default;
$select-disabled-background: $color-disabled !default;
$select-disabled-color: lighten($color-text-gray, 40%) !default;
$select-info-padding-x: 11px !default;
$select-info-padding-y: 4px !default;
$select-info-padding: $select-info-padding-y $select-info-padding-x !default;
$select-options-max-height: 150px !default;
$select-option-padding-x: 5px !default;
$select-option-padding-y: 2px !default;
$select-option-padding: $select-option-padding-y $select-option-padding-x !default;
$select-option-hover-background: lighten($color-blue, 45%) !default;
$select-option-hover-color: $color-dark !default;

/* TEXT INPUT */
$text-input-color: $color-text-gray !default;
$text-input-border-radius: $border-raidus !default;
$text-input-padding-x: 11px !default;
$text-input-padding-y: 4px !default;
$text-input-padding: $text-input-padding-y $text-input-padding-x !default;
$text-input-font-size: $font-size-normal !default;
$text-input-height: $input-height-normal !default;
$text-input-background: $color-light !default;
$text-input-border-width: 1px !default;
$text-input-border-color: $color-border !default;
$text-input-margin-x: 1px !default;
$text-input-margin-y: 1px !default;
$text-input-margin: $text-input-margin-y $text-input-margin-x !default;
$text-input-small-height: $input-height-small !default;
$text-input-small-padding-x: 7px !default;
$text-input-small-padding-y: 1px !default;
$text-input-small-padding: $text-input-small-padding-y $text-input-padding-x !default;
$text-input-small-font-size: $font-size-small !default;
$text-input-large-height: $input-height-large !default;
$text-input-large-padding-x: 11px !default;
$text-input-large-padding-y: 6px !default;
$text-input-large-padding: $text-input-large-padding-y $text-input-padding-x !default;
$text-input-large-font-size: $font-size-large !default;
$text-input-diabled-background: $color-disabled !default;
$text-input-diabled-color: inherit !default;

$list-background: $color-light !default;
$list-border-color: $color-light !default;
$list-border-width: 1px !default;
$list-title-font-weight: $font-weight-bold !default;
$list-title-color: $color-dark !default;
$list-title-padding-x: 5px !default;
$list-title-padding-y: 10px !default;
$list-title-padding: $list-title-padding-y $list-title-padding-x !default;
$list-title-font-size: $font-size-small !default;
$list-title-border-width: 1px !default;
$list-title-border-color: $color-disabled !default;

$list-item-padding-x: 10px !default;
$list-item-padding-y: 5px !default;
$list-item-padding: $list-item-padding-y $list-item-padding-x !default;

$list-item-icon-width: 40px !default;
$list-item-icon-max-height: 40px !default;

$list-item-content-padding-x: 5px !default;
$list-item-content-padding-y: 10px !default;
$list-item-content-padding: $list-item-content-padding-y $list-item-content-padding-x !default;

$list-item-content-title-font-size: $font-size-small !default;
$list-item-content-subtitle-font-size: 10px !default;
$list-item-content-subtitle-margin-top: 5px !default;
$list-item-content-subtitle-color: lighten($color-dark, 20%) !default;

$list-item-action-color: $color-primary !default;
$list-item-action-font-size: 12px !default;
$list-item-action-hover-color: $color-blue !default;

$list-item-bordered-border-width: 1px !default;
$list-item-bordered-border-color: $color-disabled !default;

/*  EMPTY */
$empty-background: $color-light !default;
$empty-padding-x: 15px !default;
$empty-padding-y: 15px !default;
$empty-padding: $empty-padding-y $empty-padding-x !default;
$empty-width: 450px !default;
$empty-image-max-width: 300px !default;
$empty-header-font-weight: $font-weight-bold !default;
$empty-header-font-size: 20px !default;
$empty-color: darken($color-disabled, 20%) !default;
$empty-description-margin-top: 5px !default;
$empty-actions-margin-top: 10px !default;
$empty-actions-margin-bottom: 5px !default;
$empty-icon-color: $color-blue !default;

/* TAB CONTROL */
$tab-control-background: $color-light !default;
$tab-control-border-radius: 1px !default;
$tab-control-border-color: $color-border !default;
$tab-control-border-radius: $border-raidus !default;
$tab-control-item-padding-x: 20px !default;
$tab-control-item-padding-y: 11px !default;
$tab-control-item-padding: $tab-control-item-padding-y $tab-control-item-padding-x !default;
$tab-control-item-color: #9c9c9c !default;
$tab-control-item-font-size: $font-size-small !default;
$tab-control-item-active-background: $color-light !default;
$tab-control-item-active-color: $color-text-gray !default;
$tab-control-item-disabled-background: #fafafa !default;
$tab-control-item-disabled-color: #9c9c9c !default;
$tab-control-pane-padding-x: 20px !default;
$tab-control-pane-padding-y: 20px !default;
$tab-control-pane-padding: $tab-control-pane-padding-y $tab-control-pane-padding-x !default;

/* TAG INPUT */
$tag-input-control-background: $text-input-background !default;
$tag-input-control-color: $text-input-color !default;
$tag-input-badge-min-height: 24px !default;

/* FONTAWESOME ICON */
$fontawesome-icon-margin-right: 5px !default;
$fontawesome-icon-margin-left: 5px !default;

/* MODAL */

$modal-backdrop-background: rgba(0, 0, 0, 0.5) !default;
$modal-backdrop-zindex: 9998 !default;
$modal-background: $color-light !default;
$modal-small-width: 300px !default;
$modal-small-height: 200px !default;
$modal-normal-width: 400px !default;
$modal-normal-height: 300px !default;
$modal-large-width: 600px !default;
$modal-large-height: 500px !default;
$modal-border-radius: $border-raidus !default;
$modal-border-color: $color-border !default;
$modal-border-width: 1px !default;
$modal-icon-color: $color-gray-light !default;
$modal-icon-hover-color: $color-dark !default;
$modal-header-min-height: 30px !default;
$modal-header-padding-x: 5px !default;
$modal-header-padding-y: 10px !default;
$modal-header-padding: $modal-header-padding-y $modal-header-padding-x !default;
$modal-footer-min-height: 30px !default;
$modal-footer-padding-x: 5px !default;
$modal-footer-padding-y: 10px !default;
$modal-footer-padding: $modal-footer-padding-y $modal-footer-padding-x !default;
$modal-body-padding-x: 5px !default;
$modal-body-padding-y: 10px !default;
$modal-body-padding: $modal-body-padding-y $modal-body-padding-x !default;
$modal-top-margin: 25px !default;
$modal-zindex: 9999 !default;

$form-group-label-font-weight: $font-weight-bold !default;
$form-group-label-font-size: $font-size-normal !default;
$form-group-label-margin-bottom: 5px !default;
$form-group-extra-font-size: 10px !default;
$form-group-extra-color: #777 !default;
$form-group-notice-font-size: $font-size-small !default;
$form-group-notice-background: #fbff00 !default;
$form-group-notice-color: $color-dark !default;
$form-group-error-font-weight: $font-weight-bold !default;
$form-group-error-font-size: $font-size-small !default;
$form-group-required-font-size: 10px !default;

$alert-border-width: 1px !default;
$alert-border-radius: $border-raidus !default;
$alert-padding-x: 5px !default;
$alert-padding-y: 5px !default;
$alert-padding: $alert-padding-y $alert-padding-x !default;
$alert-icon-font-size: 20px !default;
$alert-message-font-size: 14px !default;
$alert-message-font-weight: bold !default;
$alert-message-color: $color-dark !default;
$alert-description-font-size: 12px !default;
$alert-description-font-weight: bold !default;
$alert-description-color: $color-text-gray !default;
$alert-close-color: $color-gray !default;
$alert-close-hover-color: $color-dark !default;
$alert-info-border-color: lighten($color-blue, 10%) !default;
$alert-info-background: lighten($color-blue, 40%) !default;
$alert-info-color: lighten($color-blue, 10%) !default;
$alert-success-border-color: lighten($color-success, 10%) !default;
$alert-success-background: lighten($color-success, 50%) !default;
$alert-success-color: lighten($color-success, 10%) !default;
$alert-warning-border-color: lighten($color-warning, 10%) !default;
$alert-warning-background: lighten($color-warning, 30%) !default;
$alert-warning-color: lighten($color-warning, 10%) !default;
$alert-danger-border-color: lighten($color-danger, 10%) !default;
$alert-danger-background: lighten($color-danger, 30%) !default;
$alert-danger-color: lighten($color-danger, 10%) !default;

$header-height: 44px !default;
$header-background: $color-dark !default;
$header-color: $color-light !default;
$header-toggle-background: $color-light !default;
$header-toggle-hover-color: $color-dark !default;
$header-brand-font: inherit !default;
$header-item-hover-background: $header-color !default;
$header-item-hover-color: $header-background !default;
$header-item-active-background: $header-color !default;
$header-item-active-color: $header-background !default;
$user-menu-visible-color: $color-light !default;
$user-menu-visible-background: $color-dark !default;
$user-avatar-border-color: none !default;
$user-menu-hover-background: $color-dark !default;
$user-dropdown-item-color: inherit !default;
$user-dropdown-background: $color-dark !default;
$user-dropdown-color: $color-light !default;
$user-dropdown-item-hover-background: $color-blue !default;
$user-dropdown-item-hover-color: $color-light !default;

$accordion-border-width: 1px !default;
$accordion-border-color: $color-border !default;
$accordion-background: $color-light !default;
$accordion-header-active-background: $color-gray !default;
$accordion-header-hover-background: $color-gray !default;
$accordion-header-padding-x: 10px !default;
$accordion-header-padding-y: 10px !default;
$accordion-header-padding: $accordion-header-padding-y $accordion-header-padding-x !default;
$accordion-header-font-size: $font-size-small !default;
$accordion-header-font-weight: $font-weight-bold !default;
$accordion-content-padding-x: 10px !default;
$accordion-content-padding-y: 5px !default;
$accordion-content-padding: $accordion-content-padding-y $accordion-content-padding-x !default;