@import "./reset";
* {
  box-sizing: border-box;
}
$provider-prefix: "dui";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900");
%background-ease {
  transition: background-color 0.3s ease;
}
@import "./functions";
@import "./colors";
@import "./variables";
@each $color, $value in $theme-colors {
  @include text-color(".#{$provider-prefix}-color-#{$color}", $value);
}

@import "./components";
