.#{$provider-prefix}-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $empty-background;
  padding: $empty-padding;
  text-align: center;
  width: 450px;

  &-image {
    max-height: 300px;
  }

  &-header {
    font-weight: bold;
    font-size: 20px;
  }

  &-description {
    margin-top: 5px;
  }

  &-main-actions {
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}