.#{$provider-prefix}-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $empty-background;
  padding: $empty-padding;
  text-align: center;
  width: $empty-width;

  &-image {
    max-height: $empty-image-max-width;
  }

  &-header {
    font-weight: $empty-header-font-weight;
    font-size: $empty-header-font-size;
  }

  &-description {
    margin-top: 5px;
  }

  &-main-actions {
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}