.#{$provider-prefix}-breadcrumb {
  padding: 10px 16px;
  list-style: none;
  display: flex;
  flex-direction: row;
  font-weight: normal;
  &-item {
    & ~ ::before {
      content: ">";
      margin: 0 5px;
    }
  }
}
