.#{$provider-prefix}-select {
  color: $select-color;
  border-radius: $select-border-radius;
  width: 100%;
  font-size: $select-font-size;
  height: $select-height;
  background-color: $select-background;
  background-clip: padding-box;
  border: $select-border-width solid $select-border-color;
  transition: all 0.3s;
  line-height: 1.5;
  min-width: $select-min-width;
  position: relative;
  &.disabled {
    background-color: $select-disabled-background;
    color: $select-disabled-color;
  }
  &:hover:not(.disabled) {
    cursor: pointer;
  }
  &-info {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: $select-info-padding;
    padding-right: 20px;
  }
  &-caret-container {
    position: absolute;
    right: 4px;
  }
  &-options {
    border: $select-border-width solid $select-border-color;
    background-color: $select-background;
    width: 100%;
    z-index: 1;
    position: absolute;
    right: -1px; // WHY??
    //top: $input-height-normal - 6px;
    top: 100%;

    &.visible {
      display: block;
    }
    &-list {
      max-height: $select-options-max-height;
      overflow-y: auto;
      position: relative;
    }
  }
  &-option {
    padding: $select-option-padding;
    white-space: nowrap;
    &:hover {
      background-color: $select-option-hover-background;
      color: $select-option-hover-color;
      cursor: pointer;
    }
  }
}
