.#{$provider-prefix}-select {
  color: $select-color;
  border-radius: $select-border-radius;
  width: 100%;
  font-size: $select-font-size;
  height: $select-height;
  background-color: $select-background;
  background-clip: padding-box;
  transition: all 0.3s;
  line-height: 1.5;
  min-width: $select-min-width;
  position: relative;
  &-preview {
    white-space: nowrap;
    align-self: center;
  }
  &-placeholder {
    color: $select-placeholder-color;
  }
  &.disabled {
    background-color: $select-disabled-background;
    color: $select-disabled-color;
  }
  &:hover:not(.disabled) {
    cursor: pointer;
  }
  &-info {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: $select-info-padding;
    padding-right: 20px;
    height: 100%;
    width: 100%;
  }
  &-caret-container {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    display: inline-flex;
    align-items: center;
  }
  &-loading {
    color: $select-loading-color;
  }
  &-options {
    background-color: $color-light;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: $input-height-normal;
    border-bottom-left-radius: $select-border-radius;
    border-bottom-right-radius: $select-border-radius;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0.8rem 1rem -0.2rem;
    &.visible {
      display: block;
    }
    &-list {
      max-height: $select-options-max-height;
      overflow-y: auto;
      position: relative;
      .#{$provider-prefix}-empty {
        width: auto;
      }
    }
  }
  &-option {
    padding: $select-option-padding;
    white-space: nowrap;
    &:hover {
      background-color: $select-option-hover-background;
      color: $select-option-hover-color;
      cursor: pointer;
      @extend %background-ease;
    }
  }
}
