@import './RadioButton.mixin.scss';
.#{$provider-prefix}-radiobutton-container {
  position: relative;
  display: block;
  padding-left: $radiobutton-padding-left;
  margin: $radiobutton-margin;
  font-size: $radiobutton-font-size;
  line-height: 1;
  cursor: pointer;
  user-select: none;
  input {
    position: absolute;
    cursor: pointer;
    opacity: 0;
  }
  .#{$provider-prefix}-radiobutton-selected {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: $radiobutton-selected-width;
    height: $radiobutton-selected-height;
    background-color: $radiobutton-selected-background;
    border-radius: $radiobutton-selected-border-radius;
  }
  &:hover {
    .#{$provider-prefix}-radiobutton-selected {
      background-color: $radiobutton-selected-hover-background;
    }
  }
  .#{$provider-prefix}-radiobutton-selected:after {
    position: absolute;
    top: 4px;
    left: 4px;
    display: none;
    width: 7px;
    height: 7px;
    content: '';
    background: $radiobutton-mark-color;
    border-radius: 50%;
  }
  input:checked ~ .#{$provider-prefix}-radiobutton-selected {
    background-color: $color-disabled;
  }
  input:checked ~ .#{$provider-prefix}-radiobutton-selected:after {
    display: block;
  }

  @each $color, $value in $theme-colors {
    @include radiobutton-variant('.#{$provider-prefix}-radiobutton-#{$color}', $value);
  }
}
