.#{$provider-prefix}-form-group {
  width: 100%;
  &-label {
    display: block;
    margin-bottom: $form-group-label-margin-bottom;
    font-size: $form-group-label-font-size;
    font-weight: $form-group-label-font-weight;
    color: $form-group-label-color;
  }
  &-inline {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &-extra {
    margin-top: $form-group-extra-margin-top;
    font-size: $form-group-extra-font-size;
    color: $form-group-extra-color;
    &-success {
      color: $color-success;
    }
    &-warning {
      color: $color-warning;
    }
    &-danger {
      color: $color-danger;
    }
  }
  &-counter {
    margin-top: $form-group-counter-margin-top;
    margin-left: 5px;
    font-size: $form-group-counter-font-size;
    color: $form-group-counter-color;
    &-error {
      color: $form-group-counter-error-color;
    }
  }
  &-items {
    div:first-of-type {
      margin-right: auto;
    }
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &-notice {
    padding: 5px;
    margin: 5px 0;
    font-size: $form-group-notice-font-size;
    color: $form-group-notice-color;
    background-color: $form-group-notice-background;
  }
  &-error {
    .#{$provider-prefix}-form-group-extra {
      color: $color-danger;
    }
    .#{$provider-prefix}-select,
    .#{$provider-prefix}-input,
    .#{$provider-prefix}-textarea,
    .#{$provider-prefix}-tag-input {
      border: $form-group-error-border;
    }
  }
  .#{$provider-prefix}-select,
  .#{$provider-prefix}-input,
  .#{$provider-prefix}-textarea,
  .#{$provider-prefix}-tag-input {
    width: 100%;
    margin: 0;
  }
  &-required {
    margin-left: 5px;
    color: $color-danger;
    &-text {
      font-size: $form-group-required-font-size;
    }
  }
  &-label-inline {
    display: flex;
    flex-direction: row;
    align-items: center;

    .#{$provider-prefix}-form-group-content {
      margin-left: 15px;
    }
  }
}
