.cui-card {
  background-color: $color-light;
  box-shadow: 0 0 20px #eee;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: 1px solid $color-disabled;
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  width: 100%;
  &-body {
    padding: 8px 16px;
    flex-grow: 1;
    font-size: 12px;
    font-weight: $font-weight-regular;
  }
  &-header {
    display: flex;
    align-items: center;
    &-title {
      font-size: 14px;
      font-weight: $font-weight-bold;
      color: $color-dark;      
    }
    min-height: 20px;
    padding: 8px 16px;
    border-bottom: 2px solid $color-green-secondary;
  }
  &-footer {
    padding: 4px 16px;
    border-top: 2px solid $color-disabled;
    background-color: lighten($color-disabled, 5%);
    font-size: 12px;
    color: $color-gray;
  }
  &-inner {
    flex-direction: column;
    display: flex;
    width: 100%;
  }
  &-image {
    max-width: 100%;
    max-height: 100%;
    &-top {
      flex-direction: column;
      .cui-card-image {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
    &-left {
      flex-direction: row;
      .cui-card-image {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
    }
    &-right {
      flex-direction: row;
      .cui-card-image {
        order: 2;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}
