.#{$provider-prefix}-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  font-size: $card-font-size;
  color: $card-color;
  word-wrap: break-word;
  background-color: $card-background;
  border: $card-border-width solid  $card-border-color;
  border-radius: $card-border-radius;
  box-shadow: $box-shadow;
  &-body {
    &:not(.#{$provider-prefix}-card-body-np) {
      padding: $card-body-padding;
    }
    flex-grow: 1;
    font-weight: $card-body-font-weight;
  }
  &-image-header {
    width: 100%;
    height: $card-image-height;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    border-radius: $card-border-radius;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  &-header {
    display: flex;
    align-items: center;
    height: $card-header-height;
    padding: $card-title-padding;
    border-bottom: 1px solid $color-gray;
    &-title {
      font-size: $card-title-font-size;
      font-weight: $card-title-font-weight;
      color: $card-title-color;
    }
  }
  &-footer {
    height: $card-footer-height;
    padding: $card-footer-padding;
    color: $card-footer-color;
    border-top: 1px solid $color-disabled;
  }
  &-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  &-image {
    &-left {
      flex-direction: row;
      .#{$provider-prefix}-card-image-header {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    &-right {
      flex-direction: row;
      .#{$provider-prefix}-card-image-header {
        order: 2;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}
