.#{$provider-prefix}-input {
  color: $text-input-color;
  border-radius: $text-input-border-radius;
  display: block;
  padding: $text-input-padding;
  font-size: $text-input-font-size;
  height: $text-input-height;
  background-color: $text-input-background;
  background-clip: padding-box;
  border: $text-input-border-width solid $text-input-border-color;
  transition: border-color 0.15s ease-in-out;
  margin: $text-input-margin;
  line-height: 1.5;
  &:hover:not(:focus):not(&.#{$provider-prefix}-input-diabled) {
    border-color: $color-blue;
  }
  &:focus {
    box-shadow: $shadow-focus;
  }
  &-small {
    height: $text-input-small-height;
    padding: $text-input-small-padding;
    font-size: $text-input-small-font-size;
    #{$provider-prefix}-input-addon {
      &-before,
      &-after {
        height: $text-input-small-height;
      }
    }
  }
  &-large {
    height: $text-input-large-height;
    padding: $text-input-large-padding;
    font-size: $text-input-large-font-size;
    #{$provider-prefix}-input-addon {
      &-before,
      &-after {
        height: $text-input-large-padding;
      }
    }
  }
  &-disabled {
    background-color: $text-input-diabled-background;
    color: $text-input-diabled-color;
  }
}
.#{$provider-prefix}-input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  &.#{$provider-prefix}-input-addon-before {
    .#{$provider-prefix}-input {
      margin-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  &.#{$provider-prefix}-input-addon-after {
    .#{$provider-prefix}-input {
      margin-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .#{$provider-prefix}-input-addon {
    &-before,
    &-after {
      height: $input-height-normal;
      display: flex;
      align-items: center;
      padding: 0 5px;
      color: $color-text-gray;
      border: 1px solid $color-border;
      background-color: lighten($color-disabled, 5%);
    }
    &-before {
      border-right: none;
      margin-left: 1px;
      border-top-left-radius: $text-input-border-radius;
      border-bottom-left-radius: $text-input-border-radius;
    }
    &-after {
      border-left: none;
      margin-right: 1px;
      border-top-right-radius: $text-input-border-radius;
      border-bottom-right-radius: $text-input-border-radius;
    }
  }
}

.#{$provider-prefix}-input-fix-wrapper {
  display: inline-flex;
  align-items: center;
  background-color: $color-light;
  border: 1px solid $color-border;
  border-radius: $text-input-border-radius;
  width: auto;
  position: relative;
  margin: 1px;
  &:hover {
    border-color: $color-blue;
  }
  &:focus {
    border-width: 1px;
    //border-color: $color-blue;
  }
  .#{$provider-prefix}-input {
    border: none;
    box-shadow: none;
    color: $color-text-gray;
    margin: 0;
    padding: 0 20px;
    &-prefix,
    &-suffix {
      position: absolute;
      background-color: transparent;
      font-size: $input-font-size-normal;
      color: $color-placeholder;
    }
    &-prefix {
      left: 5px;
    }
    &-suffix {
      right: 5px;
    }
    &:focus {
      box-shadow: $shadow-focus;
    }
  }
}
