.#{$provider-prefix}-input-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: $text-input-height;
  color: $color-dark;
  text-align: left;
  background-color: $text-input-background;
  &-block {
    width: 100%;
    input {
      width: 100%;
    }
  }
  &.#{$provider-prefix}-input-small {
    height: $text-input-small-height;
    .#{$provider-prefix}-input {
      padding: $text-input-small-padding;
      font-size: $text-input-small-font-size;
    }
  }
}
.#{$provider-prefix}-input {
  padding: $text-input-padding;
  overflow: visible;
  font-size: $text-input-font-size;
  color: $text-input-color;
  background-color: $text-input-background;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: $text-input-border-radius;
  transition: border-color 0.15s ease-in-out;
  &:focus {
    border-bottom: 2px solid $color-secondary;
  }
  &-disabled {
    color: $text-input-diabled-color;
    background-color: $text-input-diabled-background;
  }
  &-icon {
    position: absolute;
    right: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    line-height: 1;
    .#{$provider-prefix}-input {
      padding-right: 28px;
    }
  }
  &-clear {
    .#{$provider-prefix}-icon {
      margin-right: 0;
    }
  }
}
