.#{$provider-prefix}-alert {
  position: relative;
  padding: $alert-padding;
  margin: 2px;
  border-style: solid;
  border-width: $alert-border-width;
  border-radius: $alert-border-radius;

  &-wi {
    display: flex;
    align-items: center;
  }
  .fas {
    font-size: $alert-icon-font-size;
  }
  .#{$provider-prefix}-alert-icon-container {
    margin-right: 5px;
    margin-left: 5px;
  }
  .#{$provider-prefix}-alert-message {
    margin: 0;
    font-size: $alert-message-font-size;
    font-weight: $alert-message-font-weight;
    color: $alert-message-color;
  }
  .#{$provider-prefix}-alert-description {
    margin-top: 5px;
    font-size: $alert-description-font-size;
    font-weight: $alert-description-font-weight;
    color: $alert-description-color;
  }
  &.#{$provider-prefix}-alert-wi {
    flex-direction: row;
    .#{$provider-prefix}-alert-wi-content {
      margin-left: 5px;
    }
  }
  &.#{$provider-prefix}-alert-info {
    color: $alert-info-color;
    background-color: $alert-info-background;
    border-color: $alert-info-border-color;
  }
  &.#{$provider-prefix}-alert-success {
    color: $alert-success-color;
    background-color: $alert-success-background;
    border-color: $alert-success-border-color;
  }
  &.#{$provider-prefix}-alert-warning {
    color: $alert-warning-color;
    background-color: $alert-warning-background;
    border-color: $alert-warning-border-color;
  }
  &.#{$provider-prefix}-alert-danger {
    color: $alert-danger-color;
    background-color: $alert-danger-background;
    border-color: $alert-danger-border-color;
  }
  &.#{$provider-prefix}-alert-note {
    color: $alert-note-color;
    background-color: $alert-note-background;
    border-color: $alert-note-border-color;
  }
}
