.#{$provider-prefix}-modal {
  &-backdrop {
    background-color: $modal-backdrop-background;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: $modal-backdrop-zindex;
    display: flex;
  }
  &-item {
    width: $modal-normal-width;
    min-height: $modal-normal-height;
    background-color: $modal-background;
    border-radius: $modal-border-radius;
    border: $modal-border-width solid $modal-border-color;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: $modal-top-margin auto;
    margin-bottom: auto;
    z-index: $modal-zindex;
    &-center {
      margin: auto;
    }

    .#{$provider-prefix}-modal-icon {
      position: absolute;
      top: 8px;
      right: 5px;
      color: $modal-icon-color;
      &:hover {
        cursor: pointer;
        color: $modal-icon-hover-color;
      }
    }
    &-small {
      width: $modal-small-width;
      min-height: $modal-small-height;
    }

    &-large {
      width: $modal-large-width;
      min-height: $modal-large-height;
    }
  }

  &-header,
  &-footer {
    .#{$provider-prefix}-button {
      margin: 0;
      box-shadow: none;
    }
    display: flex;
  }

  &-header {
    border-bottom: $modal-border-width solid $modal-border-color;
    padding: $modal-header-padding;
    min-height: $modal-header-min-height;
    display: flex;
    align-items: center;
    &-title {
      font-weight: bold;
      font-size: $font-size-normal;
      margin-right: 5px;
    }
  }
  &-body {
    border-bottom: $modal-border-width solid $modal-border-color;
    flex-grow: 1;
    padding: $modal-body-padding;
    overflow-y: auto;
  }
  &-footer {
    min-height: $modal-footer-min-height;
    padding: $modal-footer-padding;
  }
}
