.#{$provider-prefix}-tag-input {
  display: inline-flex;
  align-items: center;
  @extend %input-base;
  padding-left: 2px;
  background-color: darken($color-input, 2%);

  .#{$provider-prefix}-badge {
    align-content: center;
    padding: 2px 5px;
  }

  &-type {
    margin-left: 10px;
  }

  &-tags {
    display: flex;
    align-items: center;
  }

  &-control {
    color: $tag-input-control-color;

    background-color: $tag-input-control-background;
    border: none;

    &:focus {
      box-shadow: none;
    }
  }

  .#{$provider-prefix}-badge-wrapper,
  .#{$provider-prefix}-badge {
    min-height: $tag-input-badge-min-height;
  }

  .#{$provider-prefix}-input {
    background-color: $color-input;
    border: none;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}