.#{$provider-prefix}-flex {
  display: flex;
  &-row {
    flex-direction: row;
    &.dui-flex {
      &-gap-small {
        > :not(:last-child) {
          margin-right: 10px;
        }
      }
      &-gap-medium {
        > :not(:last-child) {
          margin-right: 18px;
        }
      }
      &-gap-large {
        > :not(:last-child) {
          margin-right: 30px;
        }
      }
    }
  }
  &-column {
    flex-direction: column;
    &.dui-flex {
      &-gap-small {
        > :not(:last-child) {
          margin-bottom: 10px;
        }
      }
      &-gap-medium {
        > :not(:last-child) {
          margin-bottom: 18px;
        }
      }
      &-gap-large {
        > :not(:last-child) {
          margin-bottom: 30px;
        }
      }
    }
  }
  &-wrap {
    flex-wrap: wrap;
  }
  &-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  &-justify {
    &-flex-start {
      justify-content: flex-start;
    }
    &-flex-end {
      justify-content: flex-end;
    }
    &-center {
      justify-content: center;
    }
    &-space-between {
      justify-content: space-between;
    }
    &-space-around {
      justify-content: space-around;
    }
    &-space-evenly {
      justify-content: space-evenly;
    }
    &-start {
      justify-content: start;
    }
    &-end {
      justify-content: end;
    }
  }
}
