@mixin checkbox-variant($parent, $background) {
  &#{$parent} {
    input:checked ~ .#{$provider-prefix}-checkmark {
      background-color: $background;
    }
    .#{$provider-prefix}-checkmark:after {
      border-color: colorFromBackground($background);
    }
    &:hover:not(.disabled) {
      .#{$provider-prefix}-checkmark {
        background-color: darken($background, 20%);
      }
    }
  }
}
