@import "./CheckBox.mixin.scss";
.#{$provider-prefix}-checkbox {
  display: block;
  position: relative;
  padding-left: $checkbox-padding-left;
  cursor: pointer;
  font-size: $checkbox-font-size;
  user-select: none;
  line-height: 1;
  margin: $checkbox-margin;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  &-no-label{
    padding-left: $checkbox-no-label-padding-left;
  }
  .#{$provider-prefix}-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: $checkbox-checkmark-height;
    width: $checkbox-checkmark-width;
    border-radius: $checkbox-checkmark-border-radius;
    background-color: $checkbox-checkmark-background;
  }

  &:hover:not(.disabled) {
    .#{$provider-prefix}-checkmark {
      background-color: $checkbox-checkmark-hover-background;
    }
  }

  input:checked ~ .#{$provider-prefix}-checkmark {
    background-color: $checkbox-checked-background;
  }
  input:indeterminate ~ .#{$provider-prefix}-checkmark:before {
    top: 6px;
    bottom: 6px;
    content: " ";
    position: absolute;
    right: 2px;
    left: 2px;
    transition: all 0.1s;
    background: $checkbox-checked-checkmark-background;
  }
  .#{$provider-prefix}-checkmark:after {
    content: "";
    position: absolute;
    display: none;
    box-sizing: initial;
  }

  input:checked ~ .#{$provider-prefix}-checkmark:after {
    display: block;
    box-sizing: initial;
  }

  .#{$provider-prefix}-checkmark:after {
    left: 4px;
    top: 2px;
    width: 4px;
    height: 7px;
    border: solid $checkbox-mark-color;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    box-sizing: initial;
  }
  @each $color, $value in $theme-colors {
    @include checkbox-variant("-#{$color}", $value);
  }
  &.disabled {
    color: $checkbox-disabled-color;
    input:checked ~ .#{$provider-prefix}-checkmark {
      background-color: $checkbox-disabled-background;
    }
  }
  &-right {
    padding-right: $checkbox-padding-left;
    padding-left: 0;
    .#{$provider-prefix}-checkmark {
      left: unset;
      right: 0;
    }
  }
}
