@import "./CheckBox.mixin.scss";
.#{$provider-prefix}-checkbox {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 3px;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
  line-height: 1;
  margin: 3px;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .#{$provider-prefix}-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: $color-disabled;
  }

  &:hover:not(.disabled) {
    .#{$provider-prefix}-checkmark {
      background-color: darken($color-disabled, 20%);
    }
  }

  input:checked ~ .#{$provider-prefix}-checkmark {
    background-color: $color-disabled;
  }
  input:indeterminate ~ .#{$provider-prefix}-checkmark:before {
    top: 6px;
    bottom: 6px;
    content: " ";
    position: absolute;
    right: 2px;
    left: 2px;
    transition: all 0.1s;
    background: $color-dark;
  }
  .#{$provider-prefix}-checkmark:after {
    content: "";
    position: absolute;
    display: none;
    box-sizing: initial;
  }

  input:checked ~ .#{$provider-prefix}-checkmark:after {
    display: block;
    box-sizing: initial;
  }

  .#{$provider-prefix}-checkmark:after {
    left: 0.25rem;
    top: 0.125rem;
    width: 0.25rem;
    height: 0.4375rem;
    border: solid $color-dark;
    border-width: 0 0.125rem 0.125rem 0;
    transform: rotate(45deg);
    box-sizing: initial;
  }
  @each $color, $value in $theme-colors {
    @include checkbox-variant("-#{$color}", $value);
  }
  &.disabled {
    color: $color-disabled;
    input:checked ~ .#{$provider-prefix}-checkmark {
      background-color: $color-disabled;
    }
  }
}
