@mixin checkbox-variant($parent, $background) {
  &#{$parent} {
    input:checked ~ .cui-checkmark {
      background-color: $background;
    }
    .cui-checkmark:after {
      border-color: colorFromBackground($background);
    }
    &:hover:not(.disabled) {
      .cui-checkmark {
        background-color: darken($background, 20%);
      }
    }
  }
}
