.#{$provider-prefix}-sidebar {
  width: $sidebar-full-width;
  background-color: $sidebar-background;
  height: 100%;
  color: $sidebar-color;
  overflow-y: auto;
  box-shadow: hsla(0, 0%, 0%, 0.2) 0 1px 2px 0;
  a {
    color: inherit;
    text-decoration: none;
    &:active,
    &:hover {
      outline: 0 !important;
    }
  }
  &-animate {
    .#{$provider-prefix}-sidebar {
      z-index: -2;
    }
    .#{$provider-prefix}-sidebar-menu-item {
      position: relative;
      z-index: 2;

      &:hover:not(.#{$provider-prefix}-sidebar-menu-item-header) {
        cursor: pointer;
        transition: background-color 0.5s;
        &:not(.#{$provider-prefix}-sidebar-menu-item-active) {
          background-color: $sidebar-item-hover-background;
        }
        &::after {
          width: 100%;
        }
      }
      &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: $sidebar-item-hover-background !important;
        transform-origin: left;
        transition: width 0.5s ease;
        z-index: -1;
      }
    }
  }
  &-menu {
    margin-top: 10px;
    width: 100%;
    height: calc(100% - 10px);
    &-item {
      padding: 10px 20px;
      font-size: 14px;
      font-weight: bold;
      display: flex;
      align-items: center;
      &:hover:not(.#{$provider-prefix}-sidebar-menu-item-header) {
        cursor: pointer;
        transition: background-color 0.5s;
        &:not(.#{$provider-prefix}-sidebar-menu-item-active) {
          background-color: $sidebar-item-hover-background;
        }
      }

      &-subparent {
        padding: 10px 0 10px 20px;
        display: flex;
        align-items: center;
        width: 100%;
        .#{$provider-prefix}-sidebar-menu-item-caret {
          margin-left: auto;
          margin-right: 10px;
          font-size: 18px;
          &:hover {
            cursor: pointer;
          }
        }
      }
      &-bottom {
        margin-top: auto;
      }
      &-header {
        text-transform: uppercase;
        font-size: 12px;
        color: $sidebar-item-header-color;
        margin: 5px 0;
      }
      &-active {
        border-left: 5px solid $sidebar-item-active-background;
        padding: 10px 15px;
      }
      &-has-sub {
        padding: 0 !important;
        margin-bottom: 5px;
        border-left: 0;
        .#{$provider-prefix}-sidebar-menu-submenu {
          background-color: $sidebar-submenu-background;
          width: 100%;
        }
        flex-direction: column;
        align-items: flex-start;
      }
      .#{$provider-prefix}-icon {
        font-size: 16px;
      }
    }
    &-submenu {
      margin-top: 0;
    }
    &-subcontainer {
      width: 100%;
    }
  }
  &-compact {
    &.#{$provider-prefix}-sidebar {
      width: $sidebar-compact-width;
    }

    .#{$provider-prefix}-icon {
      margin-right: 0;
    }

    &-labels {
      .#{$provider-prefix}-sidebar-menu-item,
      .#{$provider-prefix}-sidebar-menu-item-subparent {
        flex-direction: column;
        justify-content: center;
        .#{$provider-prefix}-icon {
          margin-bottom: 5px;
        }
      }
      .#{$provider-prefix}-sidebar-menu-item-subparent {
        padding-left: 0;
      }
      &.#{$provider-prefix}-sidebar {
        width: $sidebar-compact-label-width;
      }
      .#{$provider-prefix}-sidebar-menu-item-label {
        display: block !important;
      }
      .#{$provider-prefix}-sidebar-menu-item-label {
        font-size: 10px;
      }
    }

    .#{$provider-prefix}-sidebar-menu-item-label {
      display: none;
    }
    .#{$provider-prefix}-sidebar-menu-item-active {
      background-color: $sidebar-item-active-background;
      border-left: none;
    }
    .#{$provider-prefix}-sidebar-menu-item-header {
      span {
        display: none;
      }
      &::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: $sidebar-item-header-color;
      }
    }
    .#{$provider-prefix}-sidebar-menu-item-caret {
      display: none;
    }
  }
  &-addon{
    background-color: $sidebar-submenu-background;
    min-height: 80px;
  }
}
