%outlined {
  background-image: none !important;
  background-color: $color-light;
}
.cb-button {
  margin: auto;
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
  border-radius: 4px;
  padding: 4px 20px;
  box-shadow: 0 0 20px #eee;
  color: $color-light;
  border: 2px solid;
  font-weight: $font-weight-regular;

  &.disabled {
    background-color: $color-disabled;
    border-color: transparent;
    background-image: none;
    color: $color-light;
    cursor: not-allowed;
  }
  &:hover:not(.disabled) {
    cursor: pointer;
    background-image: none;
    background-color: $color-green-secondary;
  }
  &-outlined {
    &-danger {
      @extend %outlined;
      color: $color-danger;
      &:hover:not(.disabled) {
        background-color: $color-danger;
        color: $color-light;
      }
    }
    &-dark {
      @extend %outlined;
      color: $color-dark;
      &:hover:not(.disabled) {
        background-color: $color-dark;
        color: $color-light;
      }
    }
    &-secondary {
      @extend %outlined;
      color: $color-green-secondary;
      &:hover:not(.disabled) {
        background-color: $color-green-secondary;
        color: $color-light;
      }
    }
    &-warning {
      @extend %outlined;
      color: $color-warning;
      &:hover:not(.disabled) {
        background-color: $color-warning;
        color: $color-light;
      }
    }
  }
  background-image: linear-gradient(
    to left,
    $color-green-gradient-start 0%,
    $color-green-gradient-end 100%
  );

  &-danger {
    background-image: none;
    background-color: $color-danger;
    border-color: $color-danger;
    &:hover:not(.disabled) {
      background-color: $color-danger-dark;
    }
  }
  &-dark {
    background-image: none;
    background-color: $color-dark;
    border-color: $color-dark;
    &:hover:not(.disabled) {
      background-color: lighten($color-dark, 10%);
    }
  }
  &-secondary {
    background-image: none;
    background-color: $color-green-secondary;
    border-color: $color-green-secondary;
    &:hover:not(.disabled) {
      background-color: lighten($color-green-secondary, 10%);
    }
  }
  &-warning {
    background-image: none;
    background-color: $color-warning;
    border-color: $color-warning;
    &:hover:not(.disabled) {
      background-color: lighten($color-warning, 10%);
    }
  }

  &-block {
    border-radius: 0;
    display: block;
    width: 100%;
  }
}
