.#{$provider-prefix}-checkbox-list {
  border: $checkbox-list-border-width solid $checkbox-list-border-color;
  background-color: $checkbox-list-background;
  &-header {
    padding: $checkbox-list-header-padding;
    border-bottom: $checkbox-list-border-width solid $checkbox-list-border-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    &-check-all,
    &-counter {
      font-size: $checkbox-list-header-font-size;
    }
    &-check-all {
      justify-self: flex-start;
      margin-right: 10px;
    }
    &-counter {
      font-size: $checkbox-list-header-counter-font-size;
      justify-self: flex-end;
    }
  }
  &-items {
    padding: $checkbox-list-items-padding;
    list-style: none;
    .#{$provider-prefix}-checkbox {
      color: $checkbox-list-checkbox-color;
    }
  }
  &-item {
    padding: $checkbox-list-item-padding;
  }
}
