.#{$provider-prefix}-table {
  display: table;
  border: 1px solid $color-border;
  background-color: $color-light;
  color: $color-text-gray;
  &-bordered {
    .#{$provider-prefix}-table-row,
    .#{$provider-prefix}-table-cell {
      border-bottom: 1px solid $color-border;
    }
  }
  &-striped {
    .#{$provider-prefix}-table-row:nth-child(2n) {
      background-color: $color-gray;
    }
  }
  &-hoverable {
    .#{$provider-prefix}-table-row {
      &:hover {
        background-color: $color-disabled;
        cursor: pointer;
      }
    }
  }
  &-head {
    color: $color-text-gray;
   /*  &-fixed{

    } */
  }
  &-row {
    display: table-row;
    &-bordered {
      .#{$provider-prefix}-table-cell {
        border-bottom: 3px solid $color-border;
      }
    }
    &-checked {
      background-color: $color-blue;
    }
  }
  &-cell {
    display: table-cell;
    vertical-align: middle;
    padding: 8px;
    &-header {
      text-align: left;
      line-height: 1.5;
      height: 40px;
    }
    &-checkable {
      text-align: center;
      vertical-align: middle;
      width: 30px;
      .#{$provider-prefix}-checkbox {
        padding-left: 0;
        display: inline;
        & > span {
          color: transparent;
        }
        .#{$provider-prefix}-checkmark {
          background-color: $color-light;
          border: 1px solid $color-border;
        }
      }
    }
  }
  caption {
    display: table-caption;
    font-weight: $font-weight-regular;
    font-size: $input-font-size-small;
    margin: 5px 0;
  }
}
