.#{$provider-prefix}-table {
  display: table;
  border: 1px solid $color-border;
  background-color: $color-light;
  color: $color-text-gray;
  &-bordered {
    .#{$provider-prefix}-table-row,
    .#{$provider-prefix}-table-cell {
      border-bottom: 1px solid $color-border;
    }
  }
  &-striped {
    .#{$provider-prefix}-table-row:nth-child(2n) {
      background-color: $color-blue-light;
    }
  }
  &-hoverable {
    .#{$provider-prefix}-table-row:not(.dui-table-row-header) {
      &:hover {
        background-color: $color-disabled;
        cursor: pointer;
      }
    }
  }
  &-header {
    border: 1px solid $color-border;
    background-color: $color-light;
    color: $color-text-gray;
    padding: 5px 10px;
    width: 100%;
    display: flex;
    .#{$provider-prefix}-table-paginator {
      display: flex;
      align-items: center;
      margin-left: auto;
      &-count {
        font-size: 12px;
        margin-right: 5px;
        > span {
          font-weight: bold;
        }
      }
      .#{$provider-prefix}-button {
        box-shadow: none !important;
        border: 1px solid $color-border;
      }
    }
  }
  &-row {
    display: table-row;
    &-bordered {
      .#{$provider-prefix}-table-cell {
        border-bottom: 3px solid $color-border;
      }
    }
    &-checked {
      background-color: $color-blue;
    }
    &-header {
      text-align: left;
      line-height: 1.5;
      height: 40px;
      font-size: 14px;
      font-weight: bold;
      .dui-icon {
        margin-left: auto;
        margin-right: 5px;
      }
    }
  }
  &-cell {
    display: table-cell;
    vertical-align: middle;
    padding: 8px;
    > div {
      display: flex;
    }

    &-checkable {
      text-align: center;
      vertical-align: middle;
      width: 30px;
      .#{$provider-prefix}-checkbox {
        padding-left: 0;
        display: inline;
        & > span {
          color: transparent;
        }
        .#{$provider-prefix}-checkmark {
          background-color: $color-light;
          border: 1px solid $color-border;
        }
      }
    }
    &-sortable:hover {
      cursor: pointer;
    }
  }
  caption {
    display: table-caption;
    font-weight: $font-weight-regular;
    font-size: $input-font-size-small;
    margin: 5px 0;
  }
}
