.#{$provider-prefix}-table-wrapper {
  .#{$provider-prefix}-empty {
    background-color: $table-background;
    padding-bottom: 10px;
  }
}
.#{$provider-prefix}-table {
  display: table;
  background-color: $table-background;
  color: $table-color;
  width: 100%;
  border-collapse: collapse;
  font-size: $table-font-size;
  &-condensed {
    .#{$provider-prefix}-table-cell {
      padding: $table-condensed-cell-padding;
    }
    .#{$provider-prefix}-table-row {
      height: $table-condensed-row-height;
    }
  }
  &-bordered {
    .#{$provider-prefix}-table-row,
    .#{$provider-prefix}-table-cell {
      border-bottom: $table-border-width solid $table-border-color;
    }
  }
  &-striped {
    .#{$provider-prefix}-table-row:nth-child(2n) {
      background-color: $table-striped-background;
      color: $table-striped-color;
    }
  }
  &-hoverable {
    .#{$provider-prefix}-table-row:not(.dui-table-row-header) {
      &:hover {
        background-color: $table-hover-background;
        color: $table-hover-color;
        cursor: pointer;
        @extend %background-ease;
      }
    }
  }
  &-row {
    display: table-row;
    height: $table-row-height;
    &-bordered {
      .#{$provider-prefix}-table-cell {
        border-bottom: 3px solid $table-border-color;
      }
    }
    &-checked {
      background-color: #f5fbff !important ;
      color: $table-row-checked-color;
      @extend %background-ease;
    }
    &-header {
      text-align: left;
      line-height: 1.5;
      height: $table-row-header-height;
      font-size: $table-row-header-font-size;
      font-weight: $table-row-header-font-weight;
      color: $table-row-header-color;
      .dui-icon {
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
  &-cell {
    display: table-cell;
    vertical-align: middle;
    padding: $table-cell-padding;
    > div {
      display: flex;
      align-items: center;
    }

    &-checkable {
      width: 30px;
      align-items: center;
      .#{$provider-prefix}-checkbox {
        padding-left: 0;
        display: inline;
        & > span {
          color: transparent;
        }
        .#{$provider-prefix}-checkmark {
          top: unset;
          background-color: $color-light;
          @extend %background-ease;
          border: 1px solid $table-border-color;
        }
      }
    }
    &-sortable:hover {
      cursor: pointer;
    }
  }
}
