.#{$provider-prefix}-avatar {
  &-medium {
    width: $avatar-normal-size;
    height: $avatar-normal-size;
  }
  &-small {
    width: $avatar-small-size;
    height: $avatar-small-size;
  }
  &-large {
    width: $avatar-large-size;
    height: $avatar-large-size;
  }
  &-rounded {
    border-radius: $avatar-rounded-radius;
  }
  &-circle {
    border-radius: $avatar-circle-radius;
  }
}
