@import "./Toggle.mixin.scss";
.#{$provider-prefix}-toggle {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 18px;
  margin: 3px;
  input {
    display: none;
    &:checked + .#{$provider-prefix}-toggle-button {
      background-color: $color-success;
    }

    &:focus + .#{$provider-prefix}-toggle-button {
      box-shadow: 0 0 1px $color-success;
    }

    &:checked + .#{$provider-prefix}-toggle-button:before {
      transform: translateX(16px);
    }
  }
  .#{$provider-prefix}-toggle-button {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-disabled;
    transition: 0.4s;
  }

  .#{$provider-prefix}-toggle-button:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 2px;
    background-color: $color-light;
    transition: 0.4s;
    color: $color-success;
  }
  &.#{$provider-prefix}-toggle-large {
    width: 45px;
    height: 20px;
    input {
      &:checked + .#{$provider-prefix}-toggle-button:before {
        transform: translateX(24px);
      }
    }
    .#{$provider-prefix}-toggle-button:before {
      height: 16px;
      width: 16px;
      left: 2px;
      bottom: 2px;
    }
  }
  .#{$provider-prefix}-toggle-label {
    display: inline-block;
  }

  &.#{$provider-prefix}-toggle-rounded {
    .#{$provider-prefix}-toggle-button {
      border-radius: 32px;
    }
    .#{$provider-prefix}-toggle-button:before {
      border-radius: 50%;
    }
  }
  @each $color, $value in $theme-colors {
    @include toggle-variant(".#{$provider-prefix}-toggle-#{$color}", $value);
  }

  &.#{$provider-prefix}-toggle-labels {
    .#{$provider-prefix}-toggle-button::after {
      display: flex;
      content: "OFF";
      align-items: center;
      justify-content: flex-end;
      font-weight: $font-weight-bold;
      height: 100%;
    }
    input {
      &:checked + .#{$provider-prefix}-toggle-button::after {
        content: "ON";
        justify-content: left;
        color: $color-light;
        padding-left: 2px;
      }
    }

    .#{$provider-prefix}-toggle-button::after {
      padding-right: 2px;
      color: black;
      font-size: 9px;
    }
    &.#{$provider-prefix}-toggle-large {
      input {
        &:checked + .#{$provider-prefix}-toggle-button::after {
          content: "ON";
          justify-content: left;
          color: colorFromBackground(black);
          padding-left: 5px;
        }
      }
      .#{$provider-prefix}-toggle-button::after {
        padding-right: 5px;
        color: black;
        font-size: 10px;
      }
    }
  }
  &-disabled {
    input {
      &:checked + .#{$provider-prefix}-toggle-button {
        background-color: $color-disabled;
      }
    }
    .#{$provider-prefix}-toggle-button:before {
      background-color: darken($color-disabled, 10%);
    }
    &.#{$provider-prefix}-toggle-labels {
      .#{$provider-prefix}-toggle-button:before {
        color: $color-disabled;
      }
    }
  }
}
