@mixin toggle-variant($parent, $background) {
  &#{$parent} {
    input {
      &:checked + .cb-toggle-button {
        background-color: $background !important;
      }
      &:focus + .cb-toggle-button {
        box-shadow: 0 0 0.0625rem $background !important;
      }
    }
    .cb-toggle-button:before {
      background-color: colorFromBackground($background) !important;
    }
  }
}
