@mixin toggle-variant($parent, $background) {
  &#{$parent} {
    input {
      &:checked + .#{$provider-prefix}-toggle-button {
        background-color: $background;
      }
      &:focus + .#{$provider-prefix}-toggle-button {
        box-shadow: 0 0 0.0625rem $background;
      }
    }
    .#{$provider-prefix}-toggle-button:before {
      background-color: colorFromBackground($background);
    }
    &.#{$provider-prefix}-toggle-labels {
      .#{$provider-prefix}-toggle-button:before {
        color: $background;
      }
    }
  }
}
