@mixin toggle-variant($parent, $background) {
  &#{$parent} {
    input {
      &:checked + .cui-toggle-button {
        background-color: $background;
      }
      &:focus + .cui-toggle-button {
        box-shadow: 0 0 0.0625rem $background;
      }
    }
    .cui-toggle-button:before {
      background-color: colorFromBackground($background);
    }
    &.cui-toggle-labels {
      .cui-toggle-button:before {
        color: $background;
      }
    }
  }
}
