@import "./ProgressBar.mixin";
.dui-progress-bar-container {
  display: flex;
  min-width: 100px;
  height: 16px;
  overflow: hidden;
  font-size: 12.8px;
  background-color: $color-disabled;
  border-radius: 4px;

  .dui-progress-bar-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $color-light;
    text-align: center;
    white-space: nowrap;
    background-color: $color-blue;
    transition: width 0.6s ease;
    > span {
      padding: 0 15px;
      font-size: 12px;
    }
  }
  @each $color, $value in $theme-colors {
    @include progress-bar-variant(".dui-progress-#{$color}", $value);
  }
  @keyframes progress-bar-striped-animation {
    from {
      background-position: 16px 0;
    }
    to {
      background-position: 0 0;
    }
  }

  .dui-progress-striped {
    background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      transparent 75%,
      transparent
    );
    background-size: 16px 16px;
  }
  .dui-progress-animated {
    animation: progress-bar-striped-animation 1s linear infinite;
  }
}
