.#{$provider-prefix}-accordion {
  width: 100%;
  background-color: $accordion-background;
  outline: none;

  &-header {
    padding: $accordion-header-padding;
    display: flex;
    flex-direction: row;
    font-size: $accordion-header-font-size;
    align-items: center;
    transition: background-color ease 200ms;

    &-content {
      font-weight: $accordion-header-font-weight;
      flex-grow: 1;
    }

    &-toggle {
      right: 10px;
      font-size: 16px;

      .dui-icon {
        transition: 250ms transform;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  &-content {
    padding: $accordion-content-padding;
    height: auto;
    display: none;
    overflow: hidden;

    .#{$provider-prefix}-accordion {
      margin: 10px 0;
    }
  }

  &-expanded {
    > .#{$provider-prefix}-accordion-content {
      display: block;
    }

    > .#{$provider-prefix}-accordion-header-toggle .dui-icon {
      transform: rotate(-180deg);
    }
  }
}

.#{$provider-prefix}-accordion-group {
  width: 100%;

  > .#{$provider-prefix}-accordion ~ .#{$provider-prefix}-accordion {
    border-top: none;
  }
}

.#{$provider-prefix}-accordion:not(.#{$provider-prefix}-accordion-borderless) {
  border: $accordion-border-width solid $accordion-border-color;
}
